@import "./bender-bold.scss";
@import "./MagnoliaScript-font.scss";
@import "./ads.scss";
@import "./checkbox.scss";
@import "./btn-hover.scss";
* {
    outline: none;
    user-select: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // margin: 0;
    // padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Bender-Bold";
}

body,
.splashscreen {
    background-color: hsl(32, 40%, 70%);
    background-image: repeating-linear-gradient( 45deg, transparent 5px, hsla(197, 62%, 11%, 0.225) 5px, hsla(197, 62%, 11%, 0.225) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.225) 35px, hsla(5, 53%, 63%, 0.225) 40px, hsla(197, 62%, 11%, 0.225) 40px, hsla(197, 62%, 11%, 0.225) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.225) 60px, hsla(5, 53%, 63%, 0.225) 70px, hsla(35, 91%, 65%, 0.225) 70px, hsla(35, 91%, 65%, 0.225) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.225) 90px, hsla(5, 53%, 63%, 0.225) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.225) 120px, hsla(197, 62%, 11%, 0.225) 140px), repeating-linear-gradient( 135deg, transparent 5px, hsla(197, 62%, 11%, 0.225) 5px, hsla(197, 62%, 11%, 0.225) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.225) 35px, hsla(5, 53%, 63%, 0.225) 40px, hsla(197, 62%, 11%, 0.225) 40px, hsla(197, 62%, 11%, 0.225) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.225) 60px, hsla(5, 53%, 63%, 0.225) 70px, hsla(35, 91%, 65%, 0.225) 70px, hsla(35, 91%, 65%, 0.225) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.225) 90px, hsla(5, 53%, 63%, 0.225) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.225) 140px, hsla(197, 62%, 11%, 0.225) 160px);
}

#app {
    // width: 1280px;
    // height: 720px;
}

.splashscreen {
    &>p {
        font-family: MagnoliaScript;
        font-size: 70px;
        text-shadow: 0 5px 10px rgba(44, 21, 38, 0.75);
        text-align: center;
    }
    &>div {
        // color: wheat;
        font-family: MagnoliaScript;
        font-size: 40px;
        text-shadow: 0 5px 10px rgba(44, 21, 38, 0.75);
        box-shadow: 0 5px 10px rgba(44, 21, 38, 0.75);
    }
}